#public com.mojang.blaze3d.preprocessor.GlslPreprocessor$Context

# Render State Cache
public com.mojang.blaze3d.opengl.GlStateManager$BlendState
public com.mojang.blaze3d.opengl.GlStateManager$TextureState
public com.mojang.blaze3d.opengl.GlStateManager BLEND
public com.mojang.blaze3d.opengl.GlStateManager TEXTURES

# Quasar
public net.minecraft.resources.RegistryDataLoader$Loader

# VertexFormat
public-f com.mojang.blaze3d.vertex.VertexFormatElement BY_ID

# Level Perspective Occlusion Graph
public net.minecraft.client.renderer.ViewArea getRenderSectionAt(Lnet/minecraft/core/BlockPos;)Lnet/minecraft/client/renderer/chunk/SectionRenderDispatcher$RenderSection; # getRenderSectionAt
